%ul.collection.with-header.margin-top
  %li.collection-header
    %h4 Name
  - if @studies.present?
    - @studies.each do |study|
      %li.collection-item
        %div
          = study['name__v']
          %a.secondary-content{href: study_path(study['id'])}
            %i.material-icons map
  - else
    %h4 No studies found

