- if @study.present?

  %h4= @study['name__v']

  #chartdiv{class: 'chartdiv'}

  :javascript
    am4core.ready(function() {

    // Create map instance
    var chart = am4core.create("chartdiv", am4maps.MapChart);

    // Set map definition
    chart.geodata = am4geodata_worldLow;

    // Set projection
    chart.projection = new am4maps.projections.Miller();

    // Create map polygon series
    var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

    // Make map load polygon (like country names) data from GeoJSON
    polygonSeries.useGeodata = true;

    // Configure series
    var polygonTemplate = polygonSeries.mapPolygons.template;
    polygonTemplate.tooltipText = "{name}\n {status}";
    polygonTemplate.fill = am4core.color("#F0EFED");
    polygonTemplate.propertyFields.url = "url";
    polygonTemplate.urlTarget= "_blank";

    // Create hover state and set alternative fill color
    var hs = polygonTemplate.states.create("hover");

    // Remove Antarctica
    polygonSeries.exclude = ["AQ"];

    // Add some data
    polygonSeries.data = #{countries}

    // Bind "fill" property to "fill" key in data
    polygonTemplate.propertyFields.fill = "fill";

    // Add image series
    var imageSeries = chart.series.push(new am4maps.MapImageSeries());
    imageSeries.mapImages.template.propertyFields.longitude = "longitude";
    imageSeries.mapImages.template.propertyFields.latitude = "latitude";
    imageSeries.mapImages.template.propertyFields.url = "url";
    imageSeries.mapImages.template.urlTarget= "_blank";

    var circle = imageSeries.mapImages.template.createChild(am4core.Circle);
    circle.radius = 5;
    circle.propertyFields.fill = "colour";
    circle.tooltipText = "Name: {title}\n Investigator: {name}\n Location: {location}\n Status: {status}";

    imageSeries.data = #{sites}

    /* Add legend */
    var siteLegend = new am4maps.Legend();
    siteLegend.parent = chart.chartContainer;
    siteLegend.background.fill = am4core.color("#000");
    siteLegend.background.fillOpacity = 0.05;
    siteLegend.width = 150;
    siteLegend.align = "top";
    siteLegend.position = "center";
    siteLegend.padding(10, 15, 10, 15);
    siteLegend.data = #{site_legend};
    siteLegend.itemContainers.template.clickable = false;
    siteLegend.itemContainers.template.focusable = false;

    var countryLegend = new am4maps.Legend();
    countryLegend.parent = chart.chartContainer;
    countryLegend.background.fill = am4core.color("#000");
    countryLegend.background.fillOpacity = 0.05;
    countryLegend.width = 150;
    countryLegend.align = "bottom";
    countryLegend.position = "left";
    countryLegend.padding(10, 15, 10, 15);
    countryLegend.data = #{country_legend};
    countryLegend.itemContainers.template.clickable = false;
    countryLegend.itemContainers.template.focusable = false;

    var countryLegendTitle = countryLegend.createChild(am4core.Label);
    countryLegendTitle.text = "Country Status";

    }); // end am4core.ready()

- else
  %h4= "Study #{params[:id]} not found"

