!!!
%html
  %head
    %title WonderDrug Study
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %script{src: 'https://www.amcharts.com/lib/4/core.js'}
    %script{src: 'https://www.amcharts.com/lib/4/maps.js'}
    %script{src: 'https://www.amcharts.com/lib/4/geodata/worldLow.js'}
    %script{src: 'https://www.amcharts.com/lib/4/themes/animated.js'}
  %body
    %nav
      .nav-wrapper.container
        %a.brand-logo{href: studies_path} Wonder Drug
        %ul#nav-mobile.right.hide-on-med-and-down
          %li.active
            %a{href: studies_path} Studies
    .container
      = yield